header {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 30px;
}

#module-info {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
#New_Degree {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
#New_Module {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.linkcontainer {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.link {
    background: lightblue;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
}
.link a {
    text-decoration: none;
}

form {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

input[type=text] {
    width: 99%;
}
input[type=submit], input[type=button] {
    width: 20%;
}
button {
    width: 20%;
}
#LO {
    margin: 5px;
}

p {
    border: 1px dotted black;
    font-size: 20px;
    background: rgb(245, 243, 243);
}